<div class="social-event">
    <div class="social-event-time">
        <div class="social-event-starttime">
            <div class="social-event-monthstring">
                20
                July

                <br>
                to 
                <br>

                20
                July
            </div>
            <div class="social-event-timestring">
                <b>Venue</b> Nairobi, Kenya <br>
                <b>Time</b> 10:00 am to 10:00 am <br>
                <a class="btn btn-default btn-xs" href="" title='View More'>View More</a>
                <br>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="social-event-description">
    </div>
</div>