{# empty Twig template #}

<div class="col-md-offset-3 col-md-8 ">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LdjngkTAAAAAI67nI01CfZHfOLSvJE5Cf-lrJ4r"></div>
</div>

<div class="clr"></div>
<div class="text-center registration-buttons">
    <input class="btn btn-success btn-sm" type="submit" name="submit" value="Register" />
    <a class="btn btn-danger btn-sm">Cancel</a> 
</div>