<!--
<div class="social_block">

    <h5>Personal Info</h5> 
    <div class="personal_info">
        <b>Name:</b> {{ member.personal.member_name}}<br>
        <b>Email:</b> {{ member.personal.member_email}}<br>
        <b>Address:</b> {{ member.personal.address}}<br>
        <b>Phone:</b> {{ member.personal.phone}}<br>

    </div>
</div>
-->
