<div class="like-share-wrapper">
    <a class="post-like-link" item_id="{{ post.id }}">
        {% if post.likes.has_liked %}
            UnLike 
        {% else %}
            Like 
        {% endif %}
    </a> &nbsp; &nbsp;
    <a class="post-comment-link">Comment</a> &nbsp; &nbsp;
    <a class="post-share-link">Share</a>
    <a class="post_activities">
        {% if post.likes.count %}
            <span class="post_activity">
                <i class="fa fa-thumbs-up"></i> {{ post.likes.count }}
            </span>
        {% endif %}
        {% if post.comments.count %}
            <span class="post_activity">
                <i class="fa fa-comments"></i> {{ post.comments.count }}
            </span>
        {% endif %}
        {% if post.share.count %}
            <span class="post_activity">
                <i class="fa fa-share"></i> {{ post.share.count }}
            </span>
        {% endif %}
    </a>
</div>
